.section-one
    .container-main
        .header 
            .logo 
                a(href="#")
                    img(src=img+"Group 304.png", alt="")
            .header__menu
                nav(class="main-nav main-nav-dop" role="navigation")
                    input(id="main-menu-state" type="checkbox")
                    label.main-menu-btn(for="main-menu-state")
                        span.main-menu-btn-icon Toggle main menu visibility
                    ul(id="main-menu" class="sm sm-clean")
                        li
                            a(href="#")  <img src="img/icon (40).png" alt="">Casino
                            ul 
                                li
                                    a(href="#") Casino1
                        li
                            a(href="#") <img src="img/icon (41).png" alt="">Juegos
                        li
                            a(href="#") <img src="img/icon (42).png" alt="">Bonos de casino
                        li
                            a(href="#") <img src="img/icon (43).png" alt="">Bonos de сasas de Apuestas
                        li
                            a(href="#") <img src="img/icon (44).png" alt="">Apuestas Deportivas
                        li
                            a(href="#") <img src="img/icon (45).png" alt="">Casas de apuestas
                        li
                            a(href="#") <img src="img/icon (46).png" alt="">Pronósticos deportivos
                        li
                            a(href="#") <img src="img/icon (47).png" alt="">Blog